RewriteEngine ON
#RewriteCond %{REQUEST_FILENAME} ! -f
#RewriteCond %{REQUEST_FILENAME} ! -d
#RewriteRule (.%)$ /Project-Task-Php/index.php/$1 [L]
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteRule ^(.*)$ /index.php/$1 [L]