body
{
	background: #b6b6b6;
	margin: 0;
	padding: 0;
	font-family: arial;	
}

#container{
	margin: 27px auto;
	width: 500px;	
	min-height: 250px;
	background: #F0F0F0;
	border: : 1px solid white;	
	padding:  1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#container-login{
	margin: 250px auto;
	width: 350px;
	min-height:250px;
	background: #F0F0F0;
	border: : 1px solid white;	
	padding:  1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#header
{			
}

#footer
{		
	font-style: italic;	
}

#content
{
	margin-top: 35px;
	margin-bottom: 20px;	
	padding: 1em;
	min-height:250px;	
	border: 1px solid;	
	position: relative;
	
}

#dashboard
{
	width: 300px;
	
}

#login_form
{
	width: 300px;
	background: #eee;
	border: : 1px solid white;	
	padding:  1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

h1,h2,h3,h4,h5
{
	margin-top: 0;
	font-family: Arial black, Arial;
	text-align: center;	
}

h1
{
	text-shadow: 0 1px 0 #fff;	
}

input[type-text], input[type-password]
{
	display: block;
	margin: 0 0 1em 0;
	padding: 1em;
	width: 280px;
	border: 5px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}

.sairLink
{
	border: none;
	margin-right: 1em;
	padding:  6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #c41205;  
	color: #fff;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;	
	-webkit-box-shadow: 0 1px 0 #fff;	
}

.menuButton, .menuButton a
{
	border: none;
	margin-right:  1em;
	padding:  6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #3480aa;  
	color: #fff;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;	
	-webkit-box-shadow: 0 1px 0 #fff;	
}

#tarefas a:hover
{
	background: #287368;	
	cursor: pointer;
}

input[type=submit], form a
{
	border: none;
	margin-right:  1em;
	padding:  6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #3480aa;  
	color: #fff;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;	
	-webkit-box-shadow: 0 1px 0 #fff;
}
input[type=submit]:hover, form a:hover{
	background: #287368;	
	cursor: pointer;
}

.error
{
	color: #851008;
	font-size:  15px;
}

fieldset
{
	
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
	
}

ul li 
{
	text-decoration: none;
	list-style-type: none;
	padding: 8px;	
}
#tarefas ul
{	
	padding: 0px;	
}

#info
{
	background:  #e3e3e3;
	border-top: 1px solid #fff;	
	position: absolute;
}

.left
{
	float: left;	
}
.right
{
	float: right;
}
